.rectangle1 {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  z-index: 2;
  height: 80px;
  width: 290px;
  margin: -40px 15px 0px 15px;
  align-items: center;

  &__lema {
    grid-column: 1 span;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }
}

.rectangle2 {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  width: 100%;
  padding: 30px 15px 30px 15px;

  &__title {
    scroll-margin-top: 105px;
    grid-column: 1 span;
    color: #14d9c4;
    font-family: "Rubik", sans-serif;
    text-align: center;
    line-height: 45px;
    font-size: 24px;
  }

  &__section {
    grid-column: 1 span;
    margin: 0px 15px 0px 15px;
    padding: 0px;
    color: #54585a;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 24px;

    &__text {
      margin-bottom: 15px;
    }
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1200px) {
  .rectangle1 {
    height: 80px;
    width: 441px;
    opacity: 80%;
    margin: -80px 281px 0px 46px;
    padding: inherit;
  }

  .rectangle2 {
    align-items: center;

    &__title {
      color: #099d8d;
      scroll-margin-top: 60px;
    }

    &__section {
      grid-column: 1 span;
      margin: 15px 45px 30px 45px;
      opacity: 67%;
    }
  }
}
/* Desktop*/
@media (min-width: 1200px) {
  .rectangle1 {
    height: 90px;
    width: 574px;
    opacity: 80%;
    margin: -90px 488px 0px 138px;
    padding: inherit;

    &__lema {
      font-size: 24px;
      line-height: 30px;
      text-align: center;
    }
  }

  .rectangle2 {
    height: 357px;
    padding: 45px 300px 60px 299px;
    align-items: center;
    margin: 0 auto;
    justify-content: center;

    &__title {
      width: 601px;
      margin: 0 auto;
      color: #099d8d;
      align-items: center;
    }

    &__section {
      width: 601px;
      margin: 0 auto;
      opacity: 67%;
      align-items: center;
    }
  }
}
