* {
  font-family: "Open Sans", sans-serif;
}

.form {
  width: 320px;
  margin: 0 auto;
  padding: 30px 15px 60px;
  background-color: $white;

  &__contact {
    margin: 0 auto;
    padding-left: 15px;
    justify-content: center;
    align-items: center;

    &__title {
      background-color: &white;
      margin-left: 97, 5px;
      margin-right: 95, 5px;
      text-align: center;
      font-family: "Rubik", sans-serif;
      font-size: 24px;
      line-height: 45px;
      color: $blue-green;
    }

    &__salem {
      width: 350px;
      height: 300px;
      margin-top: 30px;
    }

    &__text {
      background-color: $white;
      margin-top: 15px;
      margin-left: 15px;
      margin-right: 15px;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      text-align: center;
      line-height: 24px;
      color: $gunmetal;
    }

    &__info {
      margin-top: 30px;
      margin-left: 15px;
      margin-right: 15px;
      background-color: $white;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      line-height: 24px;
      color: $gunmetal;

      &__asterisco {
        background-color: $white;
        margin-left: 0px;
        margin-right: 0px;
        font-weight: bold;
        font-family: "Open Sans", sans-serif;
        color: $aqua;
        font-size: 12px;
        line-height: 24px;
      }
    }
  }
}
.form__application {
  box-sizing: border-box;
  margin: 50px auto;
  width: 100%;

  &__contact {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $gunmetal;
    box-sizing: border-box;
    padding: 0px 15px 30px;
  }
}
.question {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 7px;
}

.field {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 45px;
  margin-bottom: 13px;
  padding-left: 7px;
  margin-top: 11px;
}

.field-textarea {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 105px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $cool-grey;
  padding-left: 7px;
  margin-top: 11px;
}

.text-style-1 {
  color: $aqua;
  margin-left: 5px;
}

.button-form {
  width: 100%;
  height: 45px;
  margin: 30px 0 60px;
  padding: 11px 37px;
  border-radius: 4px;
  background-color: $blue-green;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  border: none;
  justify-content: center;
}

.placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $cool-grey;
}

@media (min-width: 768px) {
  .form {
    margin: 0 auto;
    margin-bottom: 80px;
    width: 768px;
    box-sizing: border-box;

    &__contact {
      margin: 0 auto;
      padding-left: 15px;
      width: 442px;
      box-sizing: border-box;
    }
  }

  .form__application {
    margin: 50px auto;
    width: 768px;
    box-sizing: border-box;

    &__contact {
      margin: 0 auto;
      width: 442px;
      box-sizing: border-box;

      .field {
        width: 100%;
      }
      .field-textarea {
        width: 100%;
      }

      .button-container {
        text-align: right;
      }
      .button-form {
        width: 206px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .form {
    margin: 0 auto;
    margin-bottom: 80px;
    width: 1200px;
    box-sizing: border-box;
  }

  .form__contact {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 601px;
    box-sizing: border-box;
  }

  .form__application {
    margin: 50px auto;
    width: 1200px;
  }
  .form__application__contact {
    width: 601px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .form__application__emailphone {
    display: flex;
    gap: 45px;
  }

  .form__application__emailphone .field[type="email"] {
    width: 395px;
  }

  .form__application__emailphone .field[type="phone"] {
    width: 162px;
  }
  .field {
    width: 100%;
  }
  .field-textarea {
    width: 100%;
  }
  .button-form {
    width: 278px;
  }

  .button-container {
    text-align: right;
  }
}
