<!-- <div class="rectangle1">
    <span class="rectangle1__lema">Maria Bote Alonso</span>
</div> -->
<div class="rectangle2">
    <h1 class="rectangle2__title" id="_equipo">About me</h1>
    <div class="rectangle2__section">
        <p class="rectangle2__section__text">
            Hi, I'm Maria, a full-stack developer with education in Communication and Marketing.
        </p>
        <p class="rectangle2__section__text">What is Code to impact? It's my personal branding.</p>
        <p class="rectangle2__section__text">My way of seeing life and my way of unifying all my knowledge.</p>
        <p class="rectangle2__section__text">I love doing development but even more I like the creative part, the one
            that impacts and you can remember it for days. This is my code, this is my branding.</p>
    </div>
</div>