<div class="rectangle1">
    <span class="rectangle1__lema">Érase una vez un nuevo comienzo...</span>
</div>
<div class="rectangle2">
    <h1 class="rectangle2__title" id="_equipo">About me</h1>
    <div class="rectangle2__section">
        <p class="rectangle2__section__text">Érase una vez cinco chicas intrépidas que decidieron cambiar sus vidas para
            siempre.
        </p>
        <p class="rectangle2__section__text">¿Cómo lo hicieron?, os preguntaréis.</p>
        <p class="rectangle2__section__text">Fue una calurosa tarde de verano en la que decidieron apoderarse
            de su destino e inscribirse en el Bootcamp de Programación Web de la Academia Adalab.</p>
        <p class="rectangle2__section__text">Y tras unos intensos meses de trabajo y esfuerzo se convirtieron en las
            magas del código que el Reino tanto necesitaba.</p>
    </div>
</div>