<cti class="horizontal">
    <logo>
        <div class="code">
            <deco class="left anim__rotate"></deco>
            <div>code</div>
            <deco class="right anim__rotate"></deco>
        </div>
        <div class="to">to</div>
        <div class="impact">
            <column class="anim__slidezero">
                <deco></deco>
                <div>imp</div>
                <deco></deco>
            </column>
            <column class="anim__slidedown">
                <deco></deco>
                <div>act</div>
                <deco></deco>
            </column>
        </div>
    </logo>
    <footer>
        <h1 class="anim__font">Maria Bote</h1>
        <h2>2024</h2>
    </footer>
</cti>