<footer>
  <div class="container_footer">
    <div class="container_footer_name"> SheCode/> &copy; 2023</div>
    <nav class="container_footer_nav">
      <ul>
        <li><a class="footer_link" href="./index.html/#_equipo">EQUIPO</a></li>
        <li><a class="footer_link" href="./index.html/#_about-us">QUIÉNES SOMOS</a></li>
        <li><a class="footer_link" href="./contact.html">CONTACTO</a></li>
      </ul>
    </nav>
    <div class="container_footer_logo"> <img src="../images/logo-adalab.png" alt="Logo Adalab"></div>
  </div>
</footer>