<div class="container__df">
    <div class="container__df__bg"></div>
    <div class="container__df__white"></div>
    <div class="container__df__text">
        <div class="df__block">
            <div class="df__header">Solving problems</div>
            <p class="df__text">I like to think beyond the limits of the problem. I believe that every problem has more
                than one solution and I love finding the one that surprises and makes the problem a great success.</p>
        </div>
        <div class="df__block">
            <div class="df__header">Work Ethic</div>
            <p class="df__text">I am a person with a positive attitude, desire to learn, disciplined and resilient. As
                an easy-going person I am able to adapt to the needs of the team.
            </p>
        </div>
    </div>
</div>