<section class="about-us">
  <h1 class="who" id="_about-us">Projects</h1>
  <article class="members">
    <div class="members__profilepic">
      <img src="../images/gtn_mockup.jpg" alt="profile-maria">
    </div>
    <div class="members__detail">
      <h3 class="members__name">Guess the number</h3>
      <span class="members__description"> A minigame where you need to guess a number between 1 and 100.
        Made with ❤ with HTML, CSS and JS.
      </span>
      <ul class="members__redes-ul">
        <li class="link-item-redes"><a href="https://github.com/mariabote/guess-the-number-minigame" target="_blank"
            rel="noopener"><i class="fa-brands fa-github" style="color: #099D8D;"></i></a></li>
      </ul>
    </div>
  </article>
  <article class="members" id="members-reverse">
    <div class="members__profilepic"><img src="../images/AC_mockup.png" alt="profile-picture-Marta-Blanco">
    </div>
    <div class="members__detail">
      <h3 class="members__name">Awesome Cards</h3>
      <span class="members__description">Create your own business card. With this web application you can create your
        own personalized business card. Once created you can share it on your social networks.
      </span>
      <ul class="members__redes-ul">
        <li class="link-item-redes"><a href="https://github.com/mariabote/awesome-cards" target="_blank"
            rel="noopener"><i class="fa-brands fa-github" style="color: #099D8D;"></i></a></li>
      </ul>
    </div>
  </article>
  <article class="members">
    <div class="members__profilepic"><img src="../images/HP_mockup.png" alt="profile-photo-Sara"></div>
    <div class="members__detail">
      <h3 class="members__name">Harry Potter Character finder</h3>
      <span class="members__description">Find your favorite character from the Harry Potter saga. In this project I have
        used an Api to access the data of the Harry Potter characters. You can find a home website where you can search
        by name or using a filter for each house. Each character has a card to know their details in detail: status,
        species, gender and house. In addition, the website has a button called Lumos that makes the website change from
        dark mode to its opposite. </span>
      <ul class="members__redes-ul">
        <li class="link-item-redes"><a href="https://github.com/mariabote/harry-potter-character-finder" target="_blank"
            rel="noopener"><i class="fa-brands fa-github" style="color: #099D8D;"></i></a></li>
      </ul>
    </div>
  </article>
  <article class="members" id="members-reverse">
    <div class="members__profilepic"><img src="../images/Disney_Mockup.png" alt="profile-pic-Elena">
    </div>
    <div class="members__detail">
      <h3 class="members__name">Disney Character finder</h3>
      <span class="members__description">Find Disney characters and save them to your favorites. In this web
        application, you can see a list of Disney characters select them as favorites, and remove them from favorites.
      </span>
      <ul class="members__redes-ul">
        <li class="link-item-redes"><a href="https://github.com/mariabote/disney-character-finder" target="_blank"
            rel="noopener"><i class="fa-brands fa-github" style="color: #099D8D;"></i></a></li>
      </ul>
    </div>
  </article>
  <!-- <article class="members">
    <div class="members__profilepic"><img src="../images/profile-indra.jpg" alt="profile-pic-Indra"></div>
    <div class="members-detail">
      <h3 class="members__name">Indra Kishinchand López</h3>
      <span class="members__description"> Aunque mi nombre habla de un lugar más lejano, nací en Tenerife, a donde
        siempre
        vuelvo. Estudié Periodismo y Publicidad en Madrid, camino en el que redescubrí mi amor por la fotografía. Y
        como
        nunca
        es demasiado tarde ni demasiado pronto, ahora es el momento de la programación.
      </span>
      <ul class="members__redes-ul">
        <li class="link-item-redes"><a href="https://twitter.com/indrakl_" target="_blank" rel="noopener"><i
              class="fa-brands fa-x-twitter" style="color: #099D8D;"></i></a></li>
        <li class="link-item-redes"><a href="https://www.linkedin.com/in/indra-kishinchand-l%C3%B3pez-03940586/"
            target="_blank" rel="noopener"><i class="fa-brands fa-linkedin-in" style="color: #099D8D;"></i></a></li>
        <li class="link-item-redes"><a href="https://github.com/INDRAKL" target="_blank" rel="noopener"><i
              class="fa-brands fa-github" style="color: #099D8D;"></i></a></li>
        <li class="link-item-redes"><a href="mailto:indrakislo@gmail.com" target="_blank" rel="noopener"><i
              class="fa-solid fa-envelope" style="color: #099D8D;"></i></a></li>
      </ul>
    </div>
  </article> -->
</section>