.s1-home-320 {
  width: 320px;
  height: 4025px;
  background-color: var(--white);
}
.Hero {
  width: 320px;
  height: 421px;
  margin: 0 0 46px;
  padding: 0 0 316px;
}
.header__base {
  width: 320px;
  height: 60px;
  padding: 15px 80px;
  opacity: 0.95;
  background-color: #099d8d;
}
.Nombre-del-grupo {
  width: 160px;
  height: 30px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: white;
}
.Rectangle {
  width: 320px;
  height: 45px;
  margin: 60px 0 0;
  padding: 8px 17px 7px 16px;
  opacity: 0.9;
  background-color: #14d9c4;
}

.Equipo {
  width: 56px;
  height: 30px;
  margin: 0 15px 0 0;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: var(--white);
}
.Quienes-somos {
  width: 121px;
  height: 30px;
  margin: 0 15px;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: var(--white);
}
.Contacto {
  width: 80px;
  height: 30px;
  margin: 0 0 0 15px;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: var(--white);
}

.Rectangle-2 {
  width: 290px;
  height: 80px;
  margin: 387px 15px 0;
  padding: 14px 15px 16px;
  background-color: var(--white);
}
.Lorem-ipsum-dolor-si {
  width: 260px;
  height: 50px;
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  color: var(--black);
}
.Rectangle-3-Copy {
  width: 320px;
  height: 504px;
  padding: 30px 15px;
  background-color: var(--white);
}
.EQUIPO {
  width: 89px;
  height: 45px;
  margin: 0 99.5px 15px 101.5px;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--aqua);
}
.Lorem-ipsum-dolor-si {
  width: 290px;
  height: 384px;
  margin: 15px 0 0;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--gunmetal);
}
.Rectangle-3 {
  width: 320px;
  height: 579px;
  margin: 504px 0 0;
  padding: 30px 15px 45px;
  opacity: 0.2;
  background-color: var(--cool-grey);
}
.Fortalezas {
  width: 290px;
  height: 45px;
  font-family: Rubik;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
}
.Lorem-ipsum-dolor-si {
  width: 290px;
  height: 192px;
  margin: 45px 0 30px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--gunmetal);
}
.Debilidades {
  width: 290px;
  height: 45px;
  margin: 30px 0 0;
  font-family: Rubik;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
}
.Lorem-ipsum-dolor-si-Copy {
  width: 290px;
  height: 192px;
  margin: 75px 0 0;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--gunmetal);
}
.Rectangle-3-Copy {
  width: 320px;
  height: 2225px;
  margin: 1083px 0 0;
  padding: 30px 15px 45px;
  background-color: var(--white);
}
.QUINES-SOMOS {
  width: 193px;
  height: 45px;
  margin: 0 47.5px 30px 49.5px;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
}
.Rectangle-5 {
  width: 180px;
  height: 180px;
  margin: 0 55px 15px;
  border-radius: 4px;
  border: solid 5px var(--black-8);
}
.Kristin-Martinez {
  width: 147px;
  height: 45px;
  margin: 15px 70.5px 0 72.5px;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}
.Lorem-ipsum-dolor-si {
  width: 290px;
  height: 200px;
  margin: 60px 0 15px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--gunmetal);
}
.\- {
  width: 124px;
  height: 30px;
  margin: 15px 83px 0;
  font-family: FontAwesome5Brands;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
}

.\- .text-style-1 {
  font-family: OpenSans;
  color: var(--gunmetal);
}

.\- .Text-Style-9 {
  font-family: FontAwesome5ProSolid;
}

.Sally-Vargas {
  width: 110px;
  height: 45px;
  margin: 15px 89px 0 91px;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}
.Lorem-ipsum-dolor-si {
  width: 290px;
  height: 200px;
  margin: 60px 0 15px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--gunmetal);
}
.\- {
  width: 124px;
  height: 30px;
  margin: 15px 83px 0;
  font-family: FontAwesome5Brands;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
}

.\- .text-style-1 {
  font-family: OpenSans;
  color: var(--gunmetal);
}

.\- .Text-Style-9 {
  font-family: FontAwesome5ProSolid;
}
.Sonia-Cunningham {
  width: 177px;
  height: 45px;
  margin: 15px 55.5px 0 57.5px;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}
.Lorem-ipsum-dolor-si {
  width: 290px;
  height: 200px;
  margin: 60px 0 15px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--gunmetal);
}
.\- {
  width: 124px;
  height: 30px;
  margin: 15px 83px 0;
  font-family: FontAwesome5Brands;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
}

.\- .text-style-1 {
  font-family: OpenSans;
  color: var(--gunmetal);
}

.\- .Text-Style-9 {
  font-family: FontAwesome5ProSolid;
}
.Georgia-Taylor {
  width: 135px;
  height: 45px;
  margin: 15px 76.5px 0 78.5px;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}
.Lorem-ipsum-dolor-si {
  width: 290px;
  height: 200px;
  margin: 60px 0 15px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--gunmetal);
}
.\- {
  width: 124px;
  height: 30px;
  margin: 15px 83px 0;
  font-family: FontAwesome5Brands;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
}

.\- .text-style-1 {
  font-family: OpenSans;
  color: var(--gunmetal);
}

.\- .Text-Style-9 {
  font-family: FontAwesome5ProSolid;
}

.Rectangle-6 {
  width: 320px;
  height: 250px;
  margin: 2225px 0 0;
  padding: 30px 74px 45px;
  border: solid 1px var(--cool-grey);
  background-color: var(--white);
}
.Nombre-del-grupo-2 {
  width: 172px;
  height: 20px;
  margin: 0 0 20px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: var(--cool-grey);
}
.EQUIPO-QUINES-SOMOS {
  width: 114px;
  height: 60px;
  margin: 20px 29px 30px;
  opacity: 0.75;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: var(--gunmetal);
}
.Bitmap {
  width: 115.9px;
  height: 45px;
  margin: 30px 28.1px 0 28px;
}
